#nav-for-desktop {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid #000;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  justify-content: space-between;
  padding: $general-padding;
  position: fixed;
  // width: 100%;

  .icon {
    font-size: 30px;
  }

  .icon-wrapper {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    padding: 10px;

    &:hover {
      background-color: var(--grey);
      cursor: pointer;
    }
  }
}
