// DESIGN SYSTEM STYLES

// MEDIA QUERIES
@mixin for-tablets {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin for-desktops {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

// THEME COLORS
:root {
  --background-color: #fff;
  --background-color-lg: #fafafa;
  --error-message-color: #f00;
  --grey: #e6e4e4;
  --grey-scrollbar-color: #ad8a8a;
  --main-text-color: #fff;
  --primary-color: #3b44f6;
  --secondary-color: #3ec70b;
  --secondary-text-color: #212529;
  --tertiary-color: #a149fa;
}

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Playfair', serif;


@mixin body {
  font-family: $font-family-primary;
  font-size: 12px;
  line-height: 16px;

  @include for-tablets {
    font-size: 14px;
    line-height: 20px;
  }

  @include for-desktops {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin body-tiny {
  font-family: $font-family-primary;
  font-size: 8px;
  line-height: 10px;

  @include for-tablets {
    font-size: 10px;
    line-height: 12px;
  }

  @include for-desktops {
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin display {
  font-family: $font-family-secondary;
  font-size: 26px;
  line-height: 44px;

  @include for-tablets {
    font-size: 35px;
    line-height: 52px;
  }

  @include for-desktops {
    font-size: 47px;
    line-height: 64px;
  }
}

@mixin headline {
  font-family: $font-family-secondary;
  font-size: 18px;
  line-height: 26px;

  @include for-tablets {
    font-size: 22px;
    line-height: 30px;
  }

  @include for-desktops {
    font-size: 26px;
    line-height: 34px;
  }
}

@mixin label {
  font-family: $font-family-primary;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;

  @include for-tablets {
    font-size: 12px;
    line-height: 16px;
  }

  @include for-desktops {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin title {
  font-family: $font-family-primary;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;

  @include for-tablets {
    font-size: 16px;
    line-height: 24px;
  }

  @include for-desktops {
    font-size: 22px;
    line-height: 28px;
  }
}

// EXTRA
$general-padding: 10px 20px;
$border-radius: 10px;

// HIGHLIGHT STYLE (SELECTION)
::selection {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
}

::-moz-selection {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
}