#home {
  margin-bottom: 100px;
  min-height: 100%;

  @include for-tablets {
    padding: 20px 10px;
  }
}

.home-main-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 100%;
}

.logo {
  width: 120px;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  @include for-tablets {
    justify-content: flex-start;
  }
}

.post-container {
  background-color: var(--background-color);
  border-radius: $border-radius;
  min-height: 100%;
  width: 100%;

  @include for-tablets {
    width: 60%;
  }

  @include for-desktops {
    width: 35%;
  }
}