@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --background-color: #fff;
  --background-color-lg: #fafafa;
  --error-message-color: #f00;
  --grey: #e6e4e4;
  --grey-scrollbar-color: #ad8a8a;
  --main-text-color: #fff;
  --primary-color: #3b44f6;
  --secondary-color: #3ec70b;
  --secondary-text-color: #212529;
  --tertiary-color: #a149fa;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
}

::-moz-selection {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
}

a {
  color: var(--tertiary-color);
}

.font-body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  .font-body {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .font-body {
    font-size: 16px;
    line-height: 24px;
  }
}

.font-body-tiny {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  line-height: 10px;
}
@media only screen and (min-width: 600px) {
  .font-body-tiny {
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 992px) {
  .font-body-tiny {
    font-size: 12px;
    line-height: 18px;
  }
}

.font-display {
  font-family: "Playfair", serif;
  font-size: 26px;
  line-height: 44px;
}
@media only screen and (min-width: 600px) {
  .font-display {
    font-size: 35px;
    line-height: 52px;
  }
}
@media only screen and (min-width: 992px) {
  .font-display {
    font-size: 47px;
    line-height: 64px;
  }
}

.font-headline {
  font-family: "Playfair", serif;
  font-size: 18px;
  line-height: 26px;
}
@media only screen and (min-width: 600px) {
  .font-headline {
    font-size: 22px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .font-headline {
    font-size: 26px;
    line-height: 34px;
  }
}

.font-label {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  .font-label {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .font-label {
    font-size: 14px;
    line-height: 20px;
  }
}

.font-title {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}
@media only screen and (min-width: 600px) {
  .font-title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 992px) {
  .font-title {
    font-size: 22px;
    line-height: 28px;
  }
}

.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding-top: 20px;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 600px) {
  body {
    background-color: var(--background-color-lg);
    padding-top: 0;
  }
}

#root {
  min-height: 100%;
}

#home {
  margin-bottom: 100px;
  min-height: 100%;
}
@media only screen and (min-width: 600px) {
  #home {
    padding: 20px 10px;
  }
}

.home-main-content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 100%;
}

.logo {
  width: 120px;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .logo-wrapper {
    justify-content: flex-start;
  }
}

.post-container {
  background-color: var(--background-color);
  border-radius: 10px;
  min-height: 100%;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .post-container {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .post-container {
    width: 35%;
  }
}

.app {
  display: flex;
  min-height: 100%;
  overflow: hidden;
}

.desktop-nav-wrapper {
  display: none;
  padding: 20px;
  width: 120px;
}
@media only screen and (min-width: 600px) {
  .desktop-nav-wrapper {
    display: block;
  }
}

main {
  height: 100%;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  main {
    width: calc(100% - 120px);
  }
}

#map {
  height: 300px;
}

#main-modal {
  background-color: white;
  border-radius: 10px;
  display: block;
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  #main-modal {
    height: 100%;
    max-height: 600px;
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  #main-modal {
    width: 30%;
  }
}
#main-modal .icon {
  cursor: pointer;
  font-size: 30px;
}

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  position: fixed;
  transition: all 1s;
  width: 100%;
}
.modal-overlay.hide {
  transform: scale(0);
}
.modal-overlay.show {
  transform: scale(1);
}

#nav-for-desktop {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
}
#nav-for-desktop .icon {
  font-size: 30px;
}
#nav-for-desktop .icon-wrapper {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
#nav-for-desktop .icon-wrapper:hover {
  background-color: var(--grey);
  cursor: pointer;
}

#nav-for-mobile {
  align-items: center;
  background-color: var(--primary-color);
  bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 15px;
  position: fixed;
  right: 0;
  transition: width 1s;
  width: calc(100% - 40px);
}
@media only screen and (min-width: 600px) {
  #nav-for-mobile {
    display: none;
  }
}
#nav-for-mobile.closed {
  width: 60px;
}
#nav-for-mobile .icon {
  color: var(--main-text-color);
  font-size: 20px;
  transition: all 0.5s;
}
#nav-for-mobile .icon.hide {
  font-size: 0;
}
#nav-for-mobile .icon.show {
  font-size: 20px;
}

.arrow-right.rotate {
  animation: rotate 1s ease-in-out forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.arrow-right.rotate-back {
  animation: rotate-back 1s ease-in-out forwards;
}

@keyframes rotate-back {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 600px) {
  .btn.attractive {
    animation: attractive-btn 1s ease-in-out alternate infinite;
  }
}

@keyframes attractive-btn {
  from {
    scale: 1;
  }
  to {
    scale: 1.05;
  }
}
.btn-danger {
  border: none;
  background-color: var(--error-message-color);
  border-radius: 10px;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .btn-danger {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-danger {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-danger:hover, .btn-danger:disabled {
  background-image: linear-gradient(to bottom, var(--error-message-color), transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(80%);
}
.btn-danger:hover {
  scale: 1.02;
}

.btn-primary {
  border: none;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .btn-primary {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-primary {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-primary:hover, .btn-primary:disabled {
  background-image: linear-gradient(to bottom, var(--primary-color), transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(80%);
}
.btn-primary:hover {
  scale: 1.02;
}

.btn-primary-outline {
  border-color: var(--primary-color);
  background-color: var(--background-lg-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .btn-primary-outline {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-primary-outline {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-primary-outline:hover, .btn-primary-outline:disabled {
  background-image: linear-gradient(to bottom, var(--background-lg-color), transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(80%);
}
.btn-primary-outline:hover {
  scale: 1.02;
}
.btn-primary-outline:hover {
  border-color: var(--secondary-color);
}

.btn-secondary {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 10px;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .btn-secondary {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-secondary {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-secondary:hover, .btn-secondary:disabled {
  background-image: linear-gradient(to bottom, var(--secondary-color), transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(80%);
}
.btn-secondary:hover {
  scale: 1.02;
}

.btn-secondary-outline {
  border-color: var(--secondary-color);
  background-color: var(--background-lg-color);
  border-radius: 10px;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .btn-secondary-outline {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 992px) {
  .btn-secondary-outline {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-secondary-outline:hover, .btn-secondary-outline:disabled {
  background-image: linear-gradient(to bottom, var(--background-lg-color), transparent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(80%);
}
.btn-secondary-outline:hover {
  scale: 1.02;
}
.btn-secondary-outline:hover {
  border-color: var(--primary-color);
}

.btn-small {
  padding: 7.5px 10px;
}

.attend-event {
  align-items: center;
  display: flex;
}
.attend-event .icon {
  font-size: 20px;
}

.cover {
  max-height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.cover img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.cover .button-1 {
  left: 20px;
  position: absolute;
  top: 10px;
}
.cover .button-2 {
  bottom: 10px;
  position: absolute;
  right: 20px;
}

.description {
  height: 140px;
  overflow: hidden;
  padding: 10px 20px;
  padding-bottom: 0;
  position: relative;
  transition: height 1s;
}
.description.show {
  height: 100%;
}
.description .text-cover {
  align-items: flex-end;
  background: linear-gradient(360deg, #FFFFFF 48.36%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
}
.description .text-cover.hide {
  display: none;
}

.link {
  color: var(--tertiary-color);
  cursor: pointer;
  text-decoration: underline;
}

.post-buttons.buttons-wrapper {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
}

.post-extra-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 10px 20px;
  padding-top: 0;
}
.post-extra-info .icon {
  font-size: 14px;
}

.post-interactions {
  padding: 10px 20px;
}

.profile {
  padding: 10px 20px;
}
.profile .icon {
  font-size: 20px;
}

.profile-image {
  aspect-ratio: 1;
  border-radius: 10px;
  width: 60px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tag-container div {
  background-color: var(--bs-gray-400);
  border-radius: 10px;
  padding: 5px;
}

.error-message {
  color: var(--error-message-color);
}

.form {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .form {
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 0;
    min-width: 400px;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .form {
    width: 35%;
    max-width: 500px;
  }
}
@media only screen and (min-width: 992px) {
  .form img {
    display: none;
  }
}

.form-help {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  .form-help {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .form-help {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 600px) {
  .form-help {
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    line-height: 10px;
  }
}
@media only screen and (min-width: 600px) and (min-width: 600px) {
  .form-help {
    font-size: 10px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 600px) and (min-width: 992px) {
  .form-help {
    font-size: 12px;
    line-height: 18px;
  }
}

.input-frame {
  border-radius: 10px;
  box-shadow: none !important;
  outline: none !important;
  padding: 15px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
@media only screen and (min-width: 600px) {
  .input-frame {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .input-frame {
    font-size: 16px;
    line-height: 24px;
  }
}
.input-frame:active, .input-frame:focus {
  border-color: var(--primary-color);
  outline: none;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;
}

@keyframes skeleton-loading {
  from {
    background-color: hsl(200deg, 20%, 70%);
  }
  to {
    background-color: hsl(200deg, 20%, 95%);
  }
}
.skeleton-card {
  border-radius: 10px;
  height: 70px;
  margin-bottom: 10px;
  width: 100%;
}

.skeleton-text {
  border-radius: 5px;
  height: 20px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .skeleton-text {
    width: 40px;
  }
}

.events-loading-container {
  padding: 20px;
}
.events-loading-container .button {
  border-radius: 10px;
  height: 40px;
  width: 80px;
}
.events-loading-container .buttons {
  border-radius: 10px;
  height: 40px;
  width: 160px;
}
.events-loading-container .name {
  border-radius: 10px;
  height: 20px;
  width: 100px;
}
.events-loading-container .profile-img {
  border-radius: 10px;
  height: 60px;
  width: 60px;
}
.events-loading-container .text-line {
  border-radius: 10px;
  width: 100%;
  height: 15px;
}
.events-loading-container .text-line.shorter {
  width: 75%;
}
.events-loading-container .item {
  width: 40px;
  height: 20px;
  border-radius: 10px;
}

.error-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 10px 20px;
}
@media only screen and (min-width: 992px) {
  .error-container {
    flex-direction: row;
  }
}
.error-container > div {
  text-align: center;
}
.error-container img {
  width: 80%;
}
@media only screen and (min-width: 992px) {
  .error-container img {
    width: 45%;
  }
}

/*# sourceMappingURL=index.css.map */
