@mixin button($theme, $color, $borderRadius: $border-radius, $padding: 15px 20px) {
  background-color: $theme;
  border-radius: $border-radius;
  color: $color;
  @include label;
  outline: none;
  padding: $padding;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:disabled {
    // Use a linear-gradient to create a background that fades to transparent at the bottom
    background-image: linear-gradient(to bottom, $theme, transparent);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: brightness(80%);
  }

  &:hover {
    scale: 1.02;
  }
}

.btn.attractive {
  @include for-tablets {
    animation: attractive-btn 1s ease-in-out alternate infinite;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
  }
}

@keyframes attractive-btn {
  from {
    scale: 1;
  }

  to {
    scale: 1.05;
  }
}

.btn-danger {
  border: none;
  @include button(var(--error-message-color), var(--main-text-color));
}

.btn-primary {
  border: none;
  @include button(var(--primary-color), var(--main-text-color));
}

.btn-primary-outline {
  border-color: var(--primary-color);
  @include button(var(--background-lg-color), var(--secondary-text-color));

  &:hover {
    border-color: var(--secondary-color);
  }
}

.btn-secondary {
  border: none;
  @include button(var(--secondary-color), var(--main-text-color));
}

.btn-secondary-outline {
  border-color: var(--secondary-color);
  @include button(var(--background-lg-color), var(--secondary-text-color));

  &:hover {
    border-color: var(--primary-color);
  }
}

.btn-small {
  padding: 7.5px 10px;
}
